* {
	border: None;
	border-radius: 0px;
	font-family: Input Sans Narrow;
	font-size: 14px;
	min-height: 0px;
}

window#waybar {
	background-color: #1c1e26;
}

window#

#window,
#workspaces {
	padding: 0px 4px;
}

#workspaces button {
	padding: 0px 4px;
	border-radius: 4px;
	background-color: #1c1e26;
	color: #ffffff;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}

#workspaces button.focused {
	background-color: #d5d8da;
	color: #000000;
}

#backlight,
#battery,
#clock,
#pulseaudio {
	padding: 0px 6px;
	border-radius: 4px;
	margin: 0px 3px;
	background-color: #d5d8da;
	color: #000000;
}

#battery.charging,
#battery.plugged {
	background-color: #29d398;
}

